:root {
    --white: #fff;
    --black: #000;
    --body: #18181B;
    --section: #3c3c5893;
    --red: #d22d59;
    --button: #1F1F1F;
    --button-hover: #2b2b2b;
    --border-hover: #6b6b6b;
    --border: #3c3c58;
}


html {
    scrollbar-color: #393939 #1f1f1f; 
    
}